<div class="ob-kapsayici">
  <div class="ob-sekmeler">
    <button class="ob-sekme" [class.aktif]="aktifSekme === 'sokak'" (click)="sekmeSec('sokak')">
      <span class="ob-sekme-ikon">⚠️</span> Olay Girişi
    </button>
    <button class="ob-sekme" [class.aktif]="aktifSekme === 'yaklasan'" (click)="sekmeSec('yaklasan')">
      <span class="ob-sekme-ikon">🔔</span> Yaklaşan &amp; Son Olaylar
    </button>
  </div>

  <div class="ob-icerik">
    <ng-container *ngIf="aktifSekme === 'sokak'">
      <app-sokak-olay-ekle></app-sokak-olay-ekle>
    </ng-container>
    <ng-container *ngIf="aktifSekme === 'yaklasan'">
      <app-yaklasan-olaylar></app-yaklasan-olaylar>
    </ng-container>
    <ng-container *ngIf="aktifSekme === 'sosyal'">
      <app-socialmedia></app-socialmedia>
    </ng-container>
    <ng-container *ngIf="aktifSekme === 'secim'">
      <app-secim></app-secim>
    </ng-container>
    <ng-container *ngIf="aktifSekme === 'vip' && vipGorunsun">
      <app-vip></app-vip>
    </ng-container>
  </div>
</div>
