/* sadece login sayfası için gölgeli, yarı saydam arka plan ve scroll kapatma */
body.login-page {
  background-color: #143a74;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
  overflow: hidden; /* sayfada scroll olmasın istiyorsanız */
}
