<aside *ngIf="show" class="egm-sidebar d-flex flex-column flex-shrink-0 p-3 bg-navy text-white">
  <!-- Menü Linkleri -->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link text-white active">Anasayfa</a>
    </li>
    <li>
      <a routerLink="/olay" class="nav-link text-white">Olaylar</a>
    </li>
    <li>
      <a routerLink="/settings" class="nav-link text-white">İstatistikler</a>
    </li>
    <li>
      <a routerLink="/contact" class="nav-link text-white">VIP</a>
    </li>
  </ul>
</aside>
